Repository kieubaduong/portfolio-be, changes with the labels that .github/labeler.yml gives for each.
All labels: Main, Test, Workflows

Remove changes
  src/main/java/org/duongbk/GreetingResource.java
  src/test/java/org/duongbk/GreetingResourceTest.java
Labels: Main, Test

Change PR target to PR
  .github/workflows/labeler.yml
Labels: Workflows

Turn off labeler
  .github/workflows/labeler.yml
Labels: Workflows

Change PR target to PR
  .github/workflows/labeler.yml
Labels: Workflows

Delete labeler
  .github/workflows/labeler.yml
Labels: Workflows

Add labeler workflow
  .github/workflows/labeler.yml
Labels: Workflows

Add change
  src/main/java/org/duongbk/GreetingResource.java
Labels: Main

Add checkout action
  .github/workflows/labeler.yml
Labels: Workflows

Remove name action checkout
  .github/workflows/labeler.yml
Labels: Workflows

Change type on trigger
  .github/workflows/labeler.yml
Labels: Workflows

Change on syntax
  .github/workflows/labeler.yml
Labels: Workflows

Change PR to push
  .github/workflows/labeler.yml
Labels: Workflows

Add change
  .github/workflows/build.yml
  build.gradle
  src/main/java/org/duongbk/GreetingResource.java
Labels: Main, Workflows

Change sonar workflow
  .github/workflows/build.yml
  build.gradle
Labels: Workflows

Change jdk version 11 to 17
  .github/workflows/build.yml
Labels: Workflows

.github/labeler.yml:

Main:
  - src/main/**/*

Test:
  - src/test/**/*

Workflows:
  - .github/**/*
  - '*.yml'
  - '*.yaml'
  - '*.sh'
  - '*.md'
  - gradle/**/*
  - gradlew
  - gradlew.bat
  - settings.gradle
  - '*.properties'
